<!DOCTYPE html>
<html>
  <head>
    <title>안녕 오늘도 잘보내자 - Haikus for Mona</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="안녕 오늘도 잘보내자 - Haikus for Mona">
    <meta property="og:description" content="Have a good day today with some beautiful haikus about our rescue dog June">
    <meta property="og:image" content="/images/sunlight.jpg">
  </head>
  <body>
    <h1>안녕 오늘도 잘보내자</h1>
    <h2>Haikus for Mona</h2>
    <div>
      <% for(var i=0; i < haikus.length; i++) { %>
        <img
          class="mona-images"
          src="images/<%= haikus[i].image %>" />
        <div 
          class="haiku-containers">
          <p 
            class="haikus"
          ><%- haikus[i].text %></p>
        </div>
      <% } %>
    </div>
</html>
