body {
    background-color: #2a2b2f; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: #fff;
    text-align:center;
}

h2 {
    margin-top: 10px;
    font-weight: 300;
}

.mona-images {
    max-width: 400px;
    max-height: 400px;
    border: 8px solid #fff;
}

.haiku-containers {
    padding: 10px 0px 20px 0px;
}

.haikus {
    font-size: 18px;
    white-space: pre-wrap;
}

@media only screen and (max-width: 600px) {
    .june-images {
        max-width: 340px;
        max-height: 340px;
    }

    .haikus {
        font-size: 22px;
    }
}
